// @source http://smacss.com/book/type-base
//
// Base Rules
//
// A Base rule is applied to an element using an element selector, a
// descendent selector, or a child selector, along with any pseudo-classes.
// It doesn’t include any class or ID selectors. It is defining the default
// styling for how that element should look in all occurrences on the page.

// ==========================================================================
// $Normalize
// ==========================================================================
@import 'normalize';

// ==========================================================================
// $Base
// ==========================================================================
@import 'base';

body{
	color: #333;
	font-family: 'Gentium Book Basic', Georgia, serif;
}



.flex-container{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    flex-direction: row;
    // justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 25px;
}


// Header // 

.header{
   width: 100%;
   height: 40px;
   padding-bottom: 20px;
   padding-top: 10px;
   font-family: 'Montserrat', Helvetica, sans-serif;
   text-transform: uppercase;
   color: #333;
				// Smaller Screen Media Queries // 
   @media all and (min-width: 360px) {
   	font-size: 2rem;
   }
				// Smaller Screen Media Queries // 
    @media all and (min-width: 960px) {
   	font-size: 3rem;
   	padding-top:
   }
}

.left{
	width: 48%;
	float: left;
	font-size: 1.25em;
}

.right{
	width: 40%;
	float: right;
	text-align: right;
	font-size: .7em;
	padding-top: 9px;
}


/* unvisited link */
.header a:link {
    color: #ccc;
    text-decoration: none;
}

/* visited link */
.header a:visited {
    color: #ccc;
    text-decoration: none;
}

/* mouse over link */
.header a:hover {
    color: #808080;
    border-bottom: 1px solid #808080;
}

/* selected link */
.header a:active {
    color: 333;
    text-decoration: none;
}

a.navigation-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

span{
	padding-left: 15px;
}

// Project Cards // 

.flex-project{
  background: tomato;
  padding: 5px;
  width: 275px;
  height: 175px;
  margin-top: 20px;
}

// Project Card Transition // 

img#project{
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
}


// Footer // 

.footer{
   width: 100%;
   height: 30px;
   padding-top: 25px;
   font-size: .5em;
   font-family: 'Montserrat', Helvetica, sans-serif;
   text-transform: uppercase;
   color: #333;
}

//----------------------------------------- Smaller Screens ------------------------------//

//----------------------- iPhone Portrait --------------//
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	
  	.flex-container{
		display: -webkit-flex;
    	display: flex;
    	-webkit-flex-wrap: wrap;
    	flex-wrap: wrap;
    	width: 90%;
    	margin: auto;
    	flex-direction: row;
    	justify-content: space-between;
    	padding-bottom: 25px;
    	padding-top: 25px;
	}

  	.flex-project{
  		background: pink;
  		padding: 5px;
  		width: 100%;
  		height: 175px;
  		margin-top: 20px;

  	}

  	.header{
	   width: 100%;
	   height: 40px;
	   padding-bottom: 20px;
	   padding-top: 10px;
	   font-family: 'Montserrat', Helvetica, sans-serif;
	   text-transform: uppercase;
	   color: #333;
	}

	.left{
		width: 55%;
		float: left;
		font-size: 1em;
	}


	.right{
		width: 45%;
		float: right;
		text-align: right;
		font-size: .7em;
		padding-top: 7px;
	}

	span{
		padding-left: 8px;
	}


} // END -------------------------------------// 

//------------------------ iPhone Landscape ----------------------------------/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	.flex-container{
		display: -webkit-flex;
    	display: flex;
    	-webkit-flex-wrap: wrap;
    	flex-wrap: wrap;
    	width: 90%;
    	margin: auto;
    	flex-direction: row;
    	justify-content: space-between;
    	padding-bottom: 25px;
    	padding-top: 25px;
	}

  	.flex-project{
  		background: pink;
  		padding: 5px;
  		width: 290px;
  		height: 175px;
  		margin-top: 20px;

  	}

  	.header{
	   width: 98%;
	   height: 40px;
	   padding-bottom: 20px;
	   padding-top: 10px;
	   font-family: 'Montserrat', Helvetica, sans-serif;
	   text-transform: uppercase;
	   color: #333;
	}

	.left{
		width: 55%;
		float: left;
		font-size: 1em;
	}


	.right{
		width: 45%;
		float: right;
		text-align: right;
		font-size: .7em;
		padding-top: 9px;
	}

	span{
		padding-left: 8px;
	}
} // END -----------------------------// 

//----------------------------------------- iPad (Vertical) ----------------------- // 
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.flex-container{
		display: -webkit-flex;
    	display: flex;
    	-webkit-flex-wrap: wrap;
    	flex-wrap: wrap;
    	width: 730px;
    	margin: auto;
    	flex-direction: row;
    	padding-bottom: 25px;
    	padding-top: 25px;
    	padding-left: 18px;
	}

  	.flex-project{
  		background: yellow;
  		margin-right: 25px;
  		width: 330px;
  		height: 175px;
  		margin-top: 20px;

  	}

  	.header{
	   width: 97%;
	   height: 40px;
	   padding-bottom: 20px;
	   padding-top: 10px;
	   font-family: 'Montserrat', Helvetica, sans-serif;
	   text-transform: uppercase;
	   color: #333;
	}

	.left{
		width: 55%;
		float: left;
		font-size: 1em;
	}


	.right{
		width: 35%;
		float: right;
		text-align: right;
		font-size: .7em;
		padding-top: 7px;
	}

	span{
		padding-left: 8px;
	}
} // END -----------------------------// 


// -------------------------------------- iPAD Horizontal ---------------------------- //
	@media only screen 
	  and (min-device-width: 768px) 
	  and (max-device-width: 1024px) 
	  and (orientation: landscape) 
	  and (-webkit-min-device-pixel-ratio: 1) {
	  	.flex-container{
		display: -webkit-flex;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	    width: 900px;
	    margin: auto;
	    flex-direction: row;
	    justify-content: space-between;
	    padding-bottom: 25px;
	    padding-top: 25px;
	}


	// Header // 

	.header{
	   width: 97%;
	   height: 40px;
	   padding-bottom: 20px;
	   padding-top: 10px;
	   font-family: 'Montserrat', Helvetica, sans-serif;
	   text-transform: uppercase;
	   color: #333;
	}

	.left{
		width: 48%;
		float: left;
		font-size: 1.25em;
	}

	.right{
		width: 40%;
		float: right;
		text-align: right;
		font-size: .7em;
		padding-top: 9px;
	}

	// Project Cards // 

	.flex-project{
		background: skyblue;
		margin-right: 25px;
  		width: 275px;
  		height: 175px;
  		margin-top: 20px;

	}

	// Footer // 

	.footer{
	   width: 100%;
	   height: 30px;
	   padding-top: 25px;
	   font-size: .5em;
	   font-family: 'Montserrat', Helvetica, sans-serif;
	   text-transform: uppercase;
	   color: #333;
	}
} // END -----------------------------// 